<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="constr" connectionString="Server=103.21.58.192;Database=Ecommerce_app_db;User Id=Ecommerce_app_db;Password=Password123$" />
    <!--<add name="constr" connectionString="Server=TECHTRIX2;Database=Online_FebricationCloths_db;User Id=sa;Password=root"/>-->
  </connectionStrings>
  <system.web>

    <globalization culture="en-IN"/>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WebHttpBinding_IService1" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:01:00" sendTimeout="10:01:00" allowCookies="false" transferMode="Buffered">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="NFC_Shopping_Service.Service1">
        <endpoint address="" behaviorConfiguration="RegistrationBehaviour" binding="webHttpBinding" bindingConfiguration="WebHttpBinding_IService1" contract="NFC_Shopping_Service.IService1"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://my-demo.in/N_Shopping_Service/Service1"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RegistrationBehaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>

        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true"></requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
